* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#hero-section #hero-container .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #ee171f;
}
#hero-section #hero-container .logo-container #logo {
  width: 20vw;
}
#hero-section #hero-container .sub-section-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/assets/img/marvel-comics.jpeg");
  padding: 10px;
}
#hero-section #hero-container .sub-section-container #subtitle {
  margin: 20px 0;
  padding: 5px;
  font-family: "Marvel";
  font-size: 50px;
  color: white;
  box-shadow: 2px 2px 2px 2px black;
  background: linear-gradient(rgba(255, 255, 255, 0.6392156863), rgba(216, 6, 6, 0.7803921569));
}
#hero-section #hero-container .sub-section-container #card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
@media screen and (max-width: 1900px) {
  #hero-section #hero-container .sub-section-container #card-container {
    grid-template-columns: auto;
  }
}
#hero-section #hero-container .sub-section-container #card-container .single-card {
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px black;
  min-height: 395px;
  max-width: 330px;
}
#hero-section #hero-container .sub-section-container #card-container .single-card:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.6392156863), #ffffff);
}
#hero-section #hero-container .sub-section-container #card-container .single-card .border {
  border-radius: 10px;
  background: transparent;
  padding: 5px;
  height: 100%;
}
#hero-section #hero-container .sub-section-container #card-container .single-card .border:hover {
  border: 1px solid black;
  overflow: hidden;
}
#hero-section #hero-container .sub-section-container #card-container .single-card .hero-name {
  font-family: "Marvel";
  text-align: center;
  margin-bottom: 10px;
}
#hero-section #hero-container .sub-section-container #card-container .single-card .hero-img {
  min-width: 200px;
  max-width: 300px;
  border-radius: 10px;
  min-height: 240px;
}
#hero-section #hero-container .sub-section-container #card-container .single-card .hero-info {
  font-family: "Marvel";
  text-transform: uppercase;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
#hero-section #hero-container .sub-section-container #card-container .single-card .hero-description {
  margin-top: 15px;
  text-align: center;
  font-family: "Marvel";
}

#footer-section {
  background: black;
  padding: 20px;
}
#footer-section .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer-section .footer-container .marvel-black-logo {
  width: 200px;
}
#footer-section .footer-container .footer-description {
  font-size: 15px;
  font-family: "Marvel";
  color: white;
  text-align: center;
}
#footer-section .footer-container .footer-description a {
  color: white;
}/*# sourceMappingURL=style.css.map */